* {
    padding: 0;
    margin: 0;
}

body {
    background: url(images/bg.png);
    width: 100%;
}

section {
    width: 1300px;
    margin: 0 auto;
}

nav {
    background-color: black;

    width: 100%;
    color: white;

    list-style: none;
    padding: 20px 0;
}

nav img {
    width: 60px;
    float: left;
    position: fixed;
}

a {
    color: white;
    text-decoration: none;
}

header {
    width: 100%;
}

header ul {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 200px;
    list-style: none;
}

main h1 {
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
}

.me img {
    width: 300px;
}

.writing {
    background-color: aqua;
    border: 2px solid;
    width: 700px;
    height: 500px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.writing label {
    text-align: center;
}

textarea {
  /* Align multiline text fields with their labels */
    vertical-align: top;
  /* Provide space to type some text */
    height: 20em;
    width: 600px;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
    outline-style: solid;
  /* To give a little highlight on active elements */
    outline-color: black;
}


footer {
    background-color: black;
    bottom: 0;
    
    width: 100%;
    padding-top: 30px;
}

@media (max-width: 600px) {

    header {
        width: 100%;
    }
    

    .section {
        width: 500px;
    }

    a {
        color: red;
    }
    
    header ul {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    }

    nav {
        padding: 10px 0;
    }

    nav img {
        width: 70px;
    }

    .writing {
        width: 200px;
    }
}

/*Сектион ни работат*/